<html>
<head>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
<div id="main"></div>
<script>
	main = document.getElementById('main');
	Plotly.plot(main, data, layout);
</script>
</body>
</html>
